#container {
    display: flex;
    flex-direction: row;
    flex: 100;
}

#personal {
    flex: 50;
    margin-left: 5%;
}

#image{
border-radius: 50px;
}

#experiense {
    flex: 50;
}

#body{
    background-color: rgb(255, 247, 236);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bungee Spice', cursive  ;
}

p, li{
    font-family: 'Oswald', sans-serif;
}